.AboutMe {
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}

/* .image-container {
    max-width: 52%;
    height: auto;
}

.image {
    width: 100%;
}

.text-container {
    max-width: 48%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-container p {
    width: 100%;
    text-align: left;
} */

/* <Container className="justify-content-center align-items-center"  >
                                            <h1 className='mb-4'>Design</h1>
                                            <Row xs={2} md={3} lg={5}  >
                                                <Col>
                                                    <FontAwesomeIcon icon={faGitAlt} style={{fontSize: '2.25rem'}}/>
                                                </Col>
                                                <Col>
                                                    <FontAwesomeIcon icon={faLinkedin} style={{fontSize: '2.25rem'}}/>
                                                </Col>
                                            </Row>
                                        </Container> */