

.icons ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  nowrap;
    font-size: 40px;
}

.icons ul li {
    padding: 15px;
}

.icons ul li:hover {
    color: lightblue;
}