.Skills {
    height: 50vh;
    padding:30px 100px 0 100px;
    color: aliceblue;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.frontend-container {
    max-width: 50%;
    height: auto;
}

.icons {
    font-size: 45px;
}

.icons p {
    font-size: 10px;
}

.icons ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons ul li {
    padding: 15px;
}

.icons ul li:hover {
    color: lightblue;
}

.design-container {
    max-width: 50%;

}